
MVRMergeScreen {
    align: center middle;
}

MVRMergeScreen #dialog {
    grid-size: 1;
    grid-gutter: 1;
    padding: 0 1;
    width: 80;
    height: 10;
    border: round white;
    background: $surface;
}

MVRMergeScreen #question {
    height: 100%;
    content-align: center middle;
}

#row1 Button,
#row2 Button,
#row4 Button {
    width: 1fr; /* This makes each button take equal fraction of the container */
    height: 1;
    margin: 0 1;
    padding: 0;
    border: none;
    background: blue;
}

#row3 Static {
    width: 1fr; /* This makes each button take equal fraction of the container */
    height:1;
    margin: 0 1;
    padding-left: 1;
    border: none;
    background: $panel;
}

#do_merge{
    background: green!important
}
