MVRScreen {
    align: center middle;
}

MVRScreen #dialog {
    grid-size: 1;
    grid-gutter: 1;
    padding: 0 1;
    width: 70;
    height: 10;
    border: round white;
    background: $surface;
}

MVRScreen #question {
    height: 100%;
    content-align: center middle;
}

MVRScreen Button {
    width: 1fr; /* This makes each button take equal fraction of the container */
    height: 1;
    margin: 0 1;
    padding: 0;
    border: none;
    background: blue;
}
